@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #125431;
    background-color:#EDE4DB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: #115673;
}

main {
    margin-left: 20px;
}

.weather-banner {
    background-color: #EDC0B2;
    color: #115673;
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
}

.close-banner {
    background: none;
    border: none;
    color: #115673;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.hero-image {
    position: relative;
    width: 100%;
    max-height: 80vh;
    height: auto;
}

.hero-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    text-align: center;
    color: #EDE4DB;
}

.logo {
    max-width: 150px;
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin-bottom: 100px; 
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #EDE4DB;
    text-decoration: none;
    font-size: 32pt;
    margin: 0 30px;
}

nav ul li a:hover {
    color: #D6A737;
    text-decoration: wavy underline;
    text-underline-offset: 10px;
}

.nav-link.active,
.nav-link:hover {
    color: #D6A737;
    text-decoration: wavy underline;
    text-underline-offset: 10px;
}

.book-now {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #EDE4DB;
    color: #115673;
    text-decoration: none;
    font-size: 24pt;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book-now:hover {
    background-color: #115673;
    color: #D6A737;
}

h1 {
    margin: 40px;
    text-align: center;
}

.content-section {
    display: flex;
    align-items: center;
    padding: 40px;
}

.content-image {
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-text {
    flex: 1;
    padding: 20px;
}

.weather-section {
    padding: 20px;
    text-align: center;
}

.weather-section #weather-widget {
    margin-top: 20px;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}

.card {
    background-color: #EDE4DB;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.reserve-link {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #115673;
    color: #EDE4DB;
    text-decoration: none;
    border-top: 1px solid #ddd;
    border-radius: 0 0 8px 8px;
}

.reserve-link:hover {
    background-color: #D6A737;
}

.pricing-section {
    padding: 40px;
}

#pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#pricing-table th, #pricing-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#pricing-table th {
    background-color: #115673;
    color: #EDE4DB;
}

#pricing-table td {
    background-color: #ffffff;
}

#pricing-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#pricing-table tr:hover {
    background-color: #ddd;
}

.rental-agreement ol {
    list-style-type: disc;
    margin-left: 20px; 
}

.rental-agreement li {
    margin-bottom: 10px;
}

.rental-agreement ol {
    list-style-type: disc;
    padding-left: 20px;
}

.rental-agreement li {
    margin-bottom: 10px;
}

.reservation-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.reservation-form h2 {
    text-align: center;
}

.reservation-form fieldset {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px 20px;
    border-radius: 20px;
}

.reservation-form legend {
    font-size: 1.5em;
    color: #115673;
}

.reservation-form label {
    display: block;
    margin-bottom: 30px;
}

.reservation-form label input,
.reservation-form label select,
.reservation-form label textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.reservation-form label.required input,
.reservation-form label.required select,
.reservation-form label.required textarea {
    border-bottom: 3px solid #D6A737;
}

.reservation-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #115673;
    color: #EDE4DB;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

.reservation-form input[type="submit"]:hover {
    background-color: #D6A737;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact-info, .contact-form {
    flex: 1;
    margin: 0 20px;
}

.contact-info {
    max-width: 40%;
}

.contact-form {
    max-width: 50%;
}

.contact-form h2 {
    text-align: center;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #115673;
    color: #EDE4DB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}

.contact-form button:hover {
    background-color: #D6A737;
}

.map-section {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-info, .contact-form {
        max-width: 100%;
        margin: 0 0 20px 0;
    }
}


footer {
    background-color: #EDC0B2;
    color: #115673;
    padding: 20px 0;
    font-size: 14pt;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    flex: 1;
    text-align: left;
}

.social-links {
    flex: 1;
    text-align: center;
}

.social-links img {
    width: 48px;
    height: 48px;
    margin: 0 15px;
}

.footer-info {
    flex: 1;
    text-align: right;
}

.footer-info p {
    margin: 10px 0;
}

.footer-info .social-links {
    margin: 10px 0;
}

.footer-info a {
    margin: 0 10px;
    text-decoration: none;
    color: #115673;
}

.footer-info img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
