@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap');
header {
    font-family: Yeseva One;
}

main {
    font-family: "Josefin Sans";
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: Yeseva One;
    color: #75434d;
}

p {
    color: #19304d;
}

img {
    max-width: 100%;
    height: auto;
}
 