@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sedan:ital@0;1&display=swap');

/* Typography and global styles */
body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: Sedan, sans-serif;
}

h4, p {
    font-family: 'Roboto Condensed', sans-serif;
}

h2, h4, p {
    color: #153448;
}

/* Header styles */
header {
    background-color: #153448;
    color: #DFD0B8;
    padding: 1rem;
    text-align: center;
}

/* Main content grid */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem;
}

/* Card styles */
.card {
    background-color: rgba(247, 240, 220, 0.4);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h4 {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

/* Link styles */
a {
    color: #3C5B6F;
    text-decoration: none;
}

a:hover {
    text-decoration: overline;
}

/* Footer styles */
.footer-text {
    color: #DFD0B8;
}

footer {
    background-color: #153448;
    color: #DFD0B8;
    text-align: center;
    padding: 1rem;
}