@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sofia&display=swap');

body {
    font-family: Poppins, sans-serif;
    margin: 15px;
}

#cards {
    display : grid;
    grid-template-columns : repeat(auto-fit,minmax(320px,1fr));
    column-gap : 20px;
    row-gap : 20px;
}
    
h1 {
    margin-top : 40px;
    margin-bottom : 40px;
    text-align : center;
    font-family: 'Sofia', cursive;
    text-align: center;
    color: #782b3c;
}
    
section {
    background-color : #f6ecd9e0;
    border-radius : 10px;
    text-align : center;
    padding : 32px;
    color: #782b3c;
}
    
img {
    margin : auto;
    border-radius : 10px;
    max-width : 100%;
    height : auto;
}
    
p {
    color: #000;
    margin-top : -10px;
}
    
footer {
    text-align : center;
    padding: 30px;
    }