@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Yeseva+One&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #fbf5ef;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    color: #fbf5ef;
    background-color: #19304d;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; 
}

header img {
    max-width: 100%;
    height: auto;
    width: 150px;
    border-radius: 10%;
    margin-right: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cc8d80;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fbf5ef;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #75434d;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #f4f2f0;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

nav {
    background-color: #75434d;
    text-align: center;
    padding: 10px 20px;
    line-height: 2;
    max-width: 100%;
    box-sizing: border-box;
}

.navigation ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 10px;

}

nav a {
    display: block;
    color: #fbf5ef;
    font-family: "Josefin Sans";
    font-size: 20px;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    position: relative;
}

nav a:hover {
    text-decoration: none;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 10px;
    left: 0;
    background-color: #fbf5ef; 
    transform: scaleX(0); 
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1);
}

#menu {
    display: none;
}

.banner {
    display: none;
    background-color: #FFD700;
    color: #000;
    padding: 10px;
    text-align: center;
    position: static;
    width: 100%;
}

.banner p {
    display: inline;
    margin: 0;
    padding: 0;
}

#close-banner {
    background: none;
    border: none;
    font-size: 1.5rem;
    margin-left: 10px;
    cursor: pointer;
}

body.banner-active {
    margin-top: 50px;
}

h1 {
    font-family: "Yeseva One";
    color: #cc8d80;
}

h2 {
    font-family: "Yeseva One";
    color: #75434d;
    text-align: center;
    margin-top: 40px;
}

h3 {
    font-family: "Josefin Sans";
    color: #19304d;
}

h4 {
    font-family: "Josefin Sans";
    color: #75434d;
}

p {
    font-family: "Josefin Sans";
    color: #19304d;
}

.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.hero picture {
    width: 100%;
    display: block;
}

.hero img {
    width: 100%;
    display: block;
}

.button {
    position: absolute;
    top: 50%; 
    left: 30px; 
    transform: translateY(-50%); 
    gap: 20px;
    border: 1px solid #19304d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Yeseva One";
    color: #fbf5ef;
    background-color: #19304d;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #19304d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
}

.current-events {
    grid-column: span 2;
}

#current-temp, #current-weather {
    color:#75434d;
}

#forecast {
    font-family: "Josefin Sans";
    color: #19304d;
}

#spotlight {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.company-spotlight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.company-spotlight .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #19304d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
}

.company-spotlight .card img {
    display: block;
    max-width: 100%;
    height: auto;
}

.website-link {
    text-decoration: none;
    font-family: "Josefin Sans";
    color: #75434d;
    margin-bottom: 30px;
}

.footer {
    background-color: #19304d;
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.footer p {
    color: #fbf5ef;
    margin: 5px 0;
}

/* Dark Mode */

body.dark-mode {
    background-color: #1a1a1a;
    color: #fbf5ef;
}

header.dark-mode {
    background-color: #1a1a1a;
}

nav.dark-mode {
    background-color: #1a1a1a;
}

.button.dark-mode {
    background-color: #333;
    border-color: #fbf5ef;
}

.card.dark-mode {
    background-color: #333;
    border-color: #fbf5ef;
}

body.dark-mode figcaption {
    color: #fbf5ef;
}

body.dark-mode .grid-view .member-card {
    background-color: #333;
    border-color: #fbf5ef;
    color: #fbf5ef;
}

body.dark-mode .membership-descriptions,
body.dark-mode .membership-descriptions h3,
body.dark-mode .membership-descriptions h4,
body.dark-mode .membership-descriptions li {
    color: #fbf5ef;
}

body.dark-mode fieldset,
body.dark-mode fieldset legend,
body.dark-mode fieldset label {
    color: #fbf5ef;
}

.footer.dark-mode {
    background-color: #333;
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2 {
    color: #fbf5ef;
}

/* Discover Page */

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 20px;
    padding: 20px;
}

.sidebar {
    grid-column: 1 / 2;
}

.main-content {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.card {
    border: 1px solid #19304d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);
    margin-bottom: 20px;
}

.main-content img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.main-content img:hover {
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
}

picture {
    position: relative;
    display: inline-block;
}

figcaption {
    font-family: "Josefin Sans";
    color: #19304d;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
}

.visit-message {
    font-family: "Josefin Sans";
    font-weight: bold;
    color: #75434d;
}

/* Join/Thanks Pages */

.join {
    text-align: center;
    margin-top: 40px;
}

.thanks {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* FORM styling */

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.jform {
    grid-column: 1 / 2; 
    padding: 20px;
}

.membership-descriptions {
    grid-column: 2 / 3; 
    padding: 20px;
}

.jform fieldset {
    margin: 2rem 0;
    border: solid 1px;
    color: #19304d;
    border-radius: 6px;
    padding: 0.5rem 10%;
    margin-right: 1px;
}

.jform legend {
    color: #75434d;
    padding: 0 0.5rem;
    font-family: "Yeseva One";
    font-size: 1.2rem;
}

.jform label {
    display: block;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #19304d;
    font-family: "Josefin Sans";
    font-size: 0.9rem;
}

.jform input[type="text"],
.jform input[type="tel"],
.jform input[type="email"],
.jform input[type="url"],
.jform input[type="number"],
.jform textarea {
    background-color: #fff;
    display: block;
    border: var(--primary-color) solid 1px;
    border-radius: 6px;
    padding: 0.75rem;
    color: var(--primary-color);
    width: 90%;
    max-width: 400px;
    appearance: none;
}

.jform input[type="radio"] {
    margin-right: 6px;
    accent-color: #19304d;
}

.membership-descriptions h4 {
    font-family: "Yeseva One";
    color: #75434d;
    margin-top: -10px;
}

.membership-descriptions ul,
.membership-descriptions li {
    font-family: "Josefin Sans";
    color: #19304d;
}

.jform input[type="submit"]{
    border: none;
    color: #75434d;
    background-image: linear-gradient(#fff, #f4d798);
    border: solid 1.5px #75434d;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    font-family: "Yeseva One";
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.jform input:required {
    border-bottom: dotted 3px #e8083597;
}

.jform input:required:valid {
    border-bottom: solid 3px #19304dbd;
}

/* Directory Page */

#toggle-buttons-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

#toggle-grid-view, #toggle-list-view {
    cursor: pointer;
    border: 1px solid #19304d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Yeseva One";
    color: #fbf5ef;
    background-color: #19304d;
}

#members-container {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
    
.grid-view .member-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #19304d;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 255, 0.1);   
}

.grid-view .member-card img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list-view {
    flex-direction: column;
        text-align: center;

}

.list-view .member-card img {
    display: none;
}

.member-info p {
    margin-top: 5px;
    text-align: center;
}

.member-info a {
    text-decoration: none;
    font-family: "Josefin Sans";
    color: #75434d;
    margin-bottom: 30px;
}

