@media screen and (min-width: 640px) {
    header {
        padding: 40px 40px;
    }

    header img {
        max-height: 150px;
        margin-right: 40px;
    }

    nav {
        padding: 20px 40px;
    }

    .navigation ul {
        grid-template-columns: repeat(6, auto);
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }

    .hero {
        position: relative;
    }

    .button {
        position: absolute; 
        top: 70%; 
        left: 30px;
        transform: translateY(-50%);
        padding: 20px; 
        font-size: 1.2rem; 
    }

    .container {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .current-events {
        grid-column: span 3;
    }

    .footer {
        padding: 40px;
    }
}