@media screen and (max-width: 480px) {
.navigation {
    display: none;
}

.navigation.open {
    display: block;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

header img {
    width: 80px;
    margin-right: 10px;
    margin-left: 5px;
}

#menu {
    display: block;
    background-color: #fbf5ef;
    border: none;
    font-size: 1.5rem;
    padding: 5px 0 5px 90%;
}

#menu::before {
    content: "☰";
    color: #19304d;
}
            
#menu.open::before {
    content: "✖️";
}

.container {
    grid-template-columns: 1fr;
}

.current-events {
    grid-column: span 1;
}

.button {
    top: 60%;
    left: 20px;
    transform: translateY(-50%);
    padding: 15px;
    font-size: 1rem;
}

/* Dark mode */
#menu.dark-mode {
    background-color: #1a1a1a; 
    color: #fbf5ef;
    font-size: 1.5rem;
    padding: 5px 0;
    padding-left: 90%;
}

#menu::before.dark-mode {
    color: #fbf5ef;
}

#menu.open::before.dark-mode {
    color: #fbf5ef;
}
}